/* .test {
    background-color:brown;
} */

.button, .resButton {
    cursor:pointer
}


.del {
    display:inline-block;
    margin-bottom: -3px;
    top:20%;
    width:20px;
    height:20px;
    background:url("/03_hw/icons/trash.png") center center/cover no-repeat;
    cursor:pointer
}


.res {
    display:block;
    margin: 3px
}





